        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
            background-color: #7a2b53;
            display: inline-block;
            padding: 10px 15px;
            overflow: hidden;
            text-align: center;
        }
        h6 {
            color: #ffffff;
            background-color: dimgray;
            display: inline-block;
            padding: 10px 15px;
            overflow: hidden;
            text-align: center;
        }
        h2 {
            color: #025f16;
            background-color: #f0f0f0;
            display: inline-block;
            padding: 10px 15px;
            overflow: hidden;
            text-align: center;
        }