        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #333;
            background-color: #7a2b53;
        }
        h6 {
            color: #ffffff;
            background-color: dimgray;
        }
        h2 {
            color: #025f16;
            background-color: #f0f0f0;
        }